/* Lore block */
.lore {
	display: block;
	color: #CCD3E0;
	background: #40515EDE;
	line-height: 115%;
	white-space: pre-wrap;
	border: 2px solid #4F6372;
	overflow: hidden;
	font-family: Bombardier;
	font-size: 1.3em;
	text-shadow: 1.2px 1.2px 0 #090d11;
	padding: 1em;
	word-wrap: break-word;
	margin-top: -20px;
	margin-bottom: -10px;
}

.lore-mono {
	color: #8595A4;
	line-height: 130%;
	letter-spacing: 10px;
	font-weight: 100;
}

/* Inline Lore?? */

/* Lore Text */
.lore-text {
	color: #CCD3E0;
	font-family: Bombardier;
	font-size: 1.3em;
	text-shadow: 1.2px 1.2px 0 #090d11;
}

.lore-text-dark {
	color: #8595A4;
}

.lore-text-mono {
	letter-spacing: 10px;
	font-weight: 100;
}

/* Lore Title */
.lore-title {
	display: block;
	color: #CCD3E0;
	font-family: Bombardier;
	font-size: 1.3em;
	text-shadow: 1.2px 1.2px 0 #090d11;
	text-align: center;
	font-weight: bold;
}

.lore-title-dark {
	display: block;
	color: #8595A4;
	font-family: Bombardier;
	font-size: 1.3em;
	text-shadow: 1.2px 1.2px 0 #090d11;
	text-align: center;
	font-weight: bold;
}

.lore-title-inline {
	display: block;
	color: #CCD3E0;
	font-family: Bombardier;
	font-size: 1.3em;
	text-shadow: 1.2px 1.2px 0 #090d11;
	text-align: center;
	font-weight: bold;
	margin-top: -50px;
	margin-bottom: -30px;
}

/* Card */
.card {
	background: rgba(0,0,0,0);
	border: rgba(0,0,0,0);

	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
	padding-left: 5px;

	color: #CCD3E0;
	font-family: Bombardier;
	font-size: 1.3em;
	text-shadow: 1.2px 1.2px 0 #090d11;
}

.card-v {
	background: rgba(0,0,0,0);
	border: rgba(0,0,0,0);

	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
	padding-left: 5px;

	color: #CCD3E0;
	font-family: Bombardier;
	font-size: 1.3em;
	text-shadow: 1.2px 1.2px 0 #090d11;

	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Center */
.center {
	display: block;
	margin: auto;
	text-align: center;
}

.center-v {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Size Mods */
.big-1 {
	font-size: 5em;
}

.big-2 {
	font-size: 3.5em;
}

.big-3 {
	font-size: 2.5em;
}

.big-4 {
	font-size: 2em;
}

.big-5 {
	font-size: 1.5em;
}